<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="../static/favicon-32x32.png">
    <title>404</title>
  </head>
  <body>
    <main>
      <header>
        <h1>404</h1>
      </header>
      <section>
        <article>
          <p>{{ url }} was not found</p>
          <a href="/"><button>Home page</button></a>
        </article>
        <style>
            body {
                font-family: sans-serif;
            }
            button {
                background-color: rgb(49, 49, 200);
                color: white;
                border-color: transparent;
                border-radius: 5px;
                padding: 5px;
            }
        </style>
      </section>
    </main>
  </body>
</html>
